# Local Development Backend API URL (used when running on localhost)
VITE_BACKEND_LOCAL_URL=http://localhost:3000/api

# Hosted Production Backend API URL (used when deployed on live domain)
VITE_BACKEND_PROD_URL=https://api.dipronildas.com/api
